<form class="form-horizontal form-complex">
    <!-- This form is used to define the parameters for the alert_template_action custom alert -->
    <!-- Replace "alert_template" with the name of your alert and add any required parameters-->

    <!-- Source -->
    <div class="control-group">
        <label class="control-label" for="source">Source</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="action.alert_template.param.source" id="source"
                placeholder="alert:$name$" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <span class="help-block" style="display: block; position: static; width: auto; margin-left: 0;">
                Value of the <span class="mono-space">source</span> field.
            </span>
        </div>
    </div>

    <!-- Sourcetype -->
    <div class="control-group">
        <label class="control-label" for="sourcetype">Sourcetype</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="action.alert_template.param.sourcetype" id="sourcetype"
                placeholder="generic_single_line" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <span class="help-block" style="display: block; position: static; width: auto; margin-left: 0;">
                Value of the <span class="mono-space">sourcetype</span> field.
            </span>
        </div>
    </div>

    <!-- Host -->
    <div class="control-group">
        <label class="control-label" for="host">Host</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="action.alert_template.param.host" id="host" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <span class="help-block" style="display: block; position: static; width: auto; margin-left: 0;">
                Value of the <span class="mono-space">host</span> field.
            </span>
        </div>
    </div>

    <!-- execution limit -->
    <div class="control-group">
        <label class="control-label" for="limit">Limit</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="action.alert_template.param.limit" id="limit"
                placeholder="i.e. 1-30" />
        </div>
    </div>

    <!-- Worker Set -->
    <div class="control-group">
        <label class="control-label" for="worker_set">Worker Set</label>

        <div class="controls">
            <splunk-search-dropdown name="action.alert_template.param._cam_workers" id="worker_set"
                search="| `cam_workers`" label-field="worker_set" value-field="cam_workers" />
        </div>
    </div>
</form>

